<div class="body">
  <div layout="row">
    <div flex="33">
      <div class="login">
        <div class="contents">
          <div class="titleSign">
            <h2>Log In To Your Account</h2>
          </div>
          <mat-form-field appearance="legacy">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="email" required />
          </mat-form-field>

          <br />

          <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" type="password" required />
          </mat-form-field>

          <br />

          <button mat-raised-button color="primary" (click)="login()">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
